VITE_SERVER_URL="http://localhost:3000"
OLLAMA_HOST="http://192.168.15.10:11434"
HOME_ASSISTANT_IP="192.168.15.10"
HOME_ASSISTANT_TOKEN=""
GROQ_API_KEY=""
ELEVENLABS_API_KEY=""
OPENAI_API_KEY=""
WEB_USERNAME=""
WEB_PASSWORD=""
TELEGRAM_TOKEN=""